body{
    background-color: rgb(226 232 240);
}

#main{
    height: 550px;
    width: 500px;
    margin: 5%;
    margin-top: 20%;
   
}

@media(min-width: 900px) {
    #main {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }
